@font-face {
  font-family: "montheavy_demo", sans-serif;
  src: url("../public/fonts/mont-heavy-webfont.woff2") format("woff2"),
    url("../public/fonts/mont-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "montheavy_demo", "Verdana";
}

* {
  box-sizing: border-box;
}
