.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 20%;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.icon {
  font-size: 30px;
  margin: 20px;
  width: 50px;
  cursor: pointer;
}

.profile {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.boxBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
  height: 40px;
}

.boxText {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.urlProfile {
  opacity: 0.5;
}

.btnLogout {
  background-color: transparent;
  color: white;
  width: 80px;
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
}

.btnLogout:hover {
  opacity: 0.8;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 60%;
}

.trends {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 20%;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  padding-right: 10px;
}

.hash {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  overflow: auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 200px;
  width: 100%;
}

.home h2 {
  padding-left: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.textarea {
  background-color: transparent;
  width: 80%;
  color: white;
  font-size: 15px;
  font-family: "montheavy_demo";
}
